<h1>Admin Dashboard</h1>


<section >
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Products Count</th>
      <th scope="col">Categories Count</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%=@products.count %></td>
      <td><%= @categories.count %></td>
    </tr>

  </tbody>
</table>

</section>